
.homeHeader{
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    background-color: #13395B;
}
.bgimage{
    flex-basis: 50%;
}

.text{
    flex-basis: 40%;

    padding: 50px 10%;
}
.text h4{
    font-size: calc(12px + 1.5vw);
    font-weight: 600;
    font-family: Inter;
    /* text-align: center; */

}

.text .para{
    margin-top: 20px;
    font-size: calc(10px + 1vw);
    font-family: Poppins;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.text button{
    padding: 10px;
    margin-top: 30px;
    font-size: calc(10px + 1vw);
    font-weight: 600;
    color: #13395B;
    border-radius: 10px;
    border: 2px solid #13395B;
    cursor: pointer;
    transition: 0.3s;
}
.text button:hover{
    background-color: #13395B;
    color: white;
    border: 2px solid white;
}

.bgimage img{
    width: 100%;
    object-fit: cover;

}
.trending{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.trending span, .testimonial .testimonialHeading{
    font-size: calc(20px + 1.5vw);
    font-weight: 700;
    color: #13395B;
    padding: 20px 0 0;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    width: max-content;
}
.trending span::after, .testimonial .testimonialHeading::after{
content:' ';
  height:4px;
  width:80%;
  background:rgb(0, 77, 102);
  position: absolute;
  bottom:-10px;
  right: 10%;
  border-radius: 4px;
}
.trendingProducts{
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding: 10px 30px;
    gap: 30px;
    position: relative;
}
.loader{
    margin-top: 20px;
    border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #13395B;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 1s linear infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
.trendingProduct{
    width: 27%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #13395B;
    font-size: calc(10px + 1vw);
    font-weight: 500;
    text-align: center;
    transition: 0.5s;
}
.trendingProduct img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}
.testimonial{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.testimonial .reviews{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    height: max-content;
}
.reviews .review{
    width: 27%;
    min-width: 300px;
    padding: 10px 10px 10px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    background-color: #13395b18;
    text-align: left;
    color: #13395B;
    font-size: calc(9px + 0.7vw);
    box-shadow: 0 0 10px 0 rgb(138, 137, 137);
    border-radius: 10px;
    transition: 0.5s;
}
.reviews .review:hover{
    box-shadow: 0 0 15px 2px rgb(138, 137, 137);
}
.review .quotation{
    display: flex;
    justify-content: center;
    align-items: start;
}
.review .quotation img{
    height: 34px;
}
.review .author{
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    

}
.review .comment{
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 20px;
    margin-bottom: 150px
}
.review .author  span{
    bottom: 10px;
    font-weight: 600;
    font-size: calc(10px 1vw);
}
.review .userImage{
    width: 50px;
    border-radius: 50%;
}

@media screen and (max-width:700px){
    .homeHeader{
        display: flex;
        flex-direction: column-reverse;
    }
    .homeHeader .text{
        padding-bottom: 30px;
    }
    .text{
        padding-left: 50px;
    }
    .trendingProducts{
        padding: 10px 0;
    }
    .testimonial .reviews{
        gap: 20px;
    }
}
@media screen and (max-width:480px) {
    .trendingProduct img{
        width: 90%;
    }
    .testimonial .reviews{
        gap: 30px;
    }
    .reviews .review{
        width: 90%;
        padding: 20px 3%;
        box-shadow: none;
        min-width: 90vw;
    }
    .reviews .review:hover{
        box-shadow: none;
    }
}

