.loadingSpinner {
    border: 10px solid #f3f3f3; /* Light gray border */
    border-top: 10px solid #13395b; /* Blue border for the spinner */
    border-radius: 50%; /* Create a circular shape */
    width: 100px;
    height: 100px;
    animation: loadingSpin 0.8s linear infinite; /* Spin animation */
    margin: 0 auto; /* Center the loader horizontally */
}
.loadingSpinnerParent{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes loadingSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }