.auth{
    width: 100%;
    padding: 50px 0;
    height: 100%;
    background-color: #f1f1f1ec;
    display: flex;
    justify-content: center;
    align-items: center;
}
.authWrapper{
padding: 20px;
width:300px;
background-color: #fff;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
}
.authWrapper .authHeader{
    font-weight: 600;
    font-size: 20px;
}
.authWrapper span{
    font-size: 17px;
color: #13395B;
font-weight: 500;
text-align: center;
}
.authWrapper form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.authWrapper form input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.authWrapper form input, .auth form button,.auth form .passwordInput,.authWrapper form .genderInput{
    font-size: 1.05em;
    font-weight: 500;
    width: calc(100% - 20px);
    padding: 10px;
    color: #13395B;
    outline: none;
    border:none;
    background-color: #f1f1f175;
    border-radius: 10px;
    
}
.authWrapper form .password{
    width: 100%;
    padding: 0px;
    background-color: #f1f1f175;
    border-radius: 10px;
}
.authWrapper form .genderInput, .authWrapper form .genderInput .inputsPartition{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    background-color: #f1f1f175;
    color: #13395B;
}
.authWrapper form .genderInput .inputsPartition .radioInput{
    display: flex;
    gap: 10px;
}
.authWrapper form button{
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #13395B;
    background-color: #13395B;
    color: #fff;
    transition: 0.5s;
}
/* .authWrapper form button:hover{
    color: #13395B;
    background-color: #fff;
} */
.authWrapper form .password{
    display: flex;
    justify-content: center;
    align-items: center;
}
.authWrapper form .password input{
    background-color: transparent;
}
.authWrapper form .password  img{
    height: 20px;
    cursor: pointer;
    z-index: 10;
}


