.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.pageInput{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.pageButton{
    background-color: #13395b;
    width: 25px;
}
.pageButton img{
    width: 60%;
    margin: auto;
}
.pagination input{
    width: 50px;
    height: 100%;
    outline: none;
}