.products{
    padding: 10px 20px;
    min-height:100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.searchBar{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.input{
    min-width: 250px;
    padding: 5px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}.input input{
    font-size: 1rem;
    min-width: 200px;
    outline: none;
    border: none;
    padding:0 10px;
    color: #13395B;
}
.input img{
    width: 24px;
}
.similar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}
.items,.similarProducts{
    display: flex;
    justify-content: start;
    gap:2%;
    flex-wrap: wrap;
}

.notFound{
    padding:0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    color: #13395B;
    font-family: Cambria;
}
.notFound img{
    width: 100px;
}

.product{
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    flex-basis: 23.5%;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    color: #13395B;
    margin: 10px 0;
    background-color: #13395B;
    background-color: #fff;
}
.addToCart{
    position: absolute;
    right: 5px;
    top: 0;
    transform: translateY(-120%);
    font-weight: 600;
    font-size: 0.8rem;
    padding: 5px;
    color: #13395B;
    background-color: lightgray;
    width: 0;
    display: none;
    transition: 0.2s;
    /* z-index: 10; */
}
.product img{
    min-width: 100%;
    width: 100%;
    object-fit: contain;
    top: 0;
}
.product:hover .addToCart{
    width: fit-content;
    display: inline-block;
    flex: 1;
}
@keyframes cart {
    from{
        transform: translateX(120%);
        /* opacity:0; */
    }
    to{
        transform: translateX(0px);
        /* opacity:1; */
    }
}
.product .itemContent{
    position: relative;
    padding: 0.8rem  0 0.4rem 0.4rem;
    font-size: 0.8em;
    border-top: 1px solid lightgray;
    text-transform: capitalize;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.itemContent p{
    font-weight: 600;
    font-size: 1rem;
}
.productDescription{
    padding: 10px 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #d6dee65e;
}
.imgSection,.contentSection{
    flex-basis: 47%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.contentSection{
    gap: 20px;
    color: #0d253a;
    padding: 20px 1%;
    font-family: "poppins";
}
.imgSection img{
    width: 100%;
    object-fit: contain;
}
.imgSection .images{
    display: flex;
    gap: 5px;
    padding: 10px 0;
    padding-left: 10px;
    background-color: #13395b42;
}
.imgSection .images img{
    width: 50px;
}
.contentSection .title{
    font-size: 16px;
}
.contentSection .price{
    font-size: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.price span{
    color: gray;
}
.price p{
    color: #ff905a;
    font-weight: 500;
}
.contentSection .ratings{
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d4d5d9;
}
.ratings h3{
    color: white;
    background-color: #13395B;
    padding: 2px 5px;
    border-radius: 2px;
}
.ratings span{
    font-size: 20px;
}
.productSize{
    font-size: 20px;
}
.productSize .sizes{
    padding-top: 10px;
    display: flex;
    justify-content: start;
    gap: 20px;
}
.productSize .sizes .eachSize{
    padding: 5px;
    height: max-content;
    min-height: 50px;
    min-width: 50px;
    width: fit-content;
    border: 2px solid #13395B;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.contentSection .buttons{
    display: flex;
    margin-top: 30px;
    gap: 5%;
    padding-bottom: 10px;
    border-bottom: 1px solid #d4d5d9;
}
.contentSection .buttons button{
    font-size: 20px;
    flex-basis: 47%;
    padding: 7px 0;
    border-radius: 5px;
    background-color: #13395B;
    color: white;
    border: none;
    cursor: pointer;
}
.contentSection .itemDescription{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-family: "inter";
}
.itemDescription .descriptions,.itemDescription .category{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
}


@media screen and (max-width:800px){
    .productDescription{
        flex-direction: column;
    }
    .productSize .sizes{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:760px){
    .items,.similarProducts{
        gap:2%
    }
    .product{
    flex-basis: 23.5%;
    }
    .descriptionWrapper{
        flex-direction: column;
        gap: 50px;
    }
    .descriptionLeft,.descriptionRight{
        flex-basis: 80%;
    }
    .descriptionLeft img{
        object-fit: contain;
    }
}
@media screen and (max-width:650px) {
    .items,.similarProducts{
        gap:5%
    }
    .product{
        flex-basis: 30%;
    }
}

@media screen and (max-width:480px) {
    .products{
        padding: 10px 0;
    }
    .items.similarProducts{
        gap: 6%;
    }
    .product{
        flex-basis: 47%;
        position: relative;
    }
    .productDescription{
        padding: 10px 0;
        overflow: hidden;
    }
    .contentSection .buttons{
        flex-direction: column;
        gap: 20px;
    }
}